*,*::after,*::before {

    box-sizing: border-box;

}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.container{
    margin: 0 auto;
    width: 350px;
    height: 100px;
    font-size: larger;
    align-items: center;
}


.gridNumeros{
    margin: 0 auto;
    width: 350px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;

}
.numerosItems{
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.funcionesItems{
    width: 100px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}